body {
    background-color: #f4f4f4;
}
.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}
.header img {
    margin-bottom: 20px;
}
.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.pedidos-realizados h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
